body {
  background-color: LightYellow;
  text-align: center;
  font-family: Arial;
}
button {
  text-align: center;
}
h2 {
  margin: auto;
  margin-top: 10px;
  border-style: solid;
  height: 80px;
  width: 900px;
}
.workoutStructure{
  margin: auto;

}
.Exercises {
  border-style: dashed;
  background-color: #FFEBCD;
  height: 250px;
  width: 350px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;

  }
  #warmup {
    text-align: center;
  }
